fastapi[standard]
uvicorn==0.30.6
crewai==0.102.0
crewai-tools==0.12.0
langchain-openai==0.2.14
langchain-google-genai==2.0.10
langchain-tools==0.1.34
langchain-community==0.3.17
unstructured==0.15.10
python-dotenv==1.0.1
python-multipart==0.0.20
supabase==2.13.0